---
# Python 3 support
pip_virtualenv_command: /usr/bin/python3 -m virtualenv # usegalaxy_eu.certbot, usegalaxy_eu.tiaas2, galaxyproject.galaxy
certbot_virtualenv_package_name: python3-virtualenv    # usegalaxy_eu.certbot
pip_package: python3-pip                               # geerlingguy.pip

fqdn: galaxy.suderman.com

# PostgreSQL
postgresql_objects_users:
  - name: galaxy
postgresql_objects_databases:
  - name: galaxy
    owner: galaxy
# PostgreSQL Backups
postgresql_backup_dir: /data/backups
postgresql_backup_local_dir: "~postgres/backups"

galaxy_create_user: true
galaxy_separate_privileges: true
galaxy_privsep_user: admin
galaxy_manage_paths: true
galaxy_layout: root-dir
galaxy_root: /srv/galaxy
galaxy_user: { name: galaxy, shell: /bin/bash }
galaxy_commit_id: release_21.01
galaxy_config_style: yaml
galaxy_force_checkout: true

miniconda_prefix: "{{ galaxy_tool_dependency_dir }}/_conda"
miniconda_version: 4.7.12
miniconda_manage_dependencies: false
galaxy_become_users:
  privsep: admin
  errdocs: admin
  galaxy: galaxy
  root: root
galaxy_config:
  galaxy:
    admin_users: tester@galaxyproject.org
    brand: Test
    database_connection: "postgresql:///galaxy?host=/var/run/postgresql"
    file_path: /data
    check_migrate_tools: false
    display_galaxy_brand: true
    tool_data_path: "{{ galaxy_mutable_data_dir }}/tool-data"
    job_config_file: "{{ galaxy_config_dir }}/job_conf.xml"
    job_metrics_config_file: "{{ galaxy_config_dir }}/job_metrics_conf.xml"
    welcome_url: /static/welcome.html
    tool_data_table_config_path: /cvmfs/data.galaxyproject.org/byhand/location/tool_data_table_conf.xml,/cvmfs/data.galaxyproject.org/managed/location/tool_data_table_conf.xml
#    tool_config_file: "{{ galaxy_config_dir}}/tool_conf.xml"
#    datatypes_config_file: "{{ galaxy_config_dir }}/datatypes_conf.xml"
  uwsgi:
#    http: 0.0.0.0:8080
    socket: 127.0.0.1:8080
    buffer-size: 16384
    processes: 1
    threads: 4
    offload-threads: 2
    static-map:
      - /static={{ galaxy_server_dir }}/static
      - /favicon.ico={{ galaxy_server_dir }}/static/favicon.ico
    static-safe: client/galaxy/images
    master: true
    virtualenv: "{{ galaxy_venv_dir }}"
    pythonpath: "{{ galaxy_server_dir }}/lib"
    module: galaxy.webapps.galaxy.buildapp:uwsgi_app()
    thunder-lock: true
    die-on-term: true
    hook-master-start:
      - unix_signal:2 gracefully_kill_them_all
      - unix_signal:15 gracefully_kill_them_all
    py-call-osafterfork: true
    enable-threads: true
    mule:
      - lib/galaxy/main.py
      - lib/galaxy/main.py
    farm: job-handlers:1,2

galaxy_config_templates:
  - src: templates/galaxy/config/job_conf.xml.j2
    dest: "{{ galaxy_config.galaxy.job_config_file }}"
  - src: templates/galaxy/config/job_metrics_conf.xml.j2
    dest: "{{ galaxy_config.galaxy.job_metrics_config_file }}"
    
# systemd
galaxy_systemd_mode: mule
galaxy_zergpool_listen_addr: 127.0.0.1:8080
galaxy_restart_handler_name: "Restart Galaxy"
galaxy_systemd_zergling_env: DRMAA_LIBRARY_PATH="/usr/lib/slurm-drmaa/lib/libdrmaa.so.1"

# Certbot
certbot_auto_renew_hour: "{{ 23 |random(seed=inventory_hostname)  }}"
certbot_auto_renew_minute: "{{ 59 |random(seed=inventory_hostname)  }}"
certbot_auth_method: --webroot
certbot_install_method: virtualenv
certbot_auto_renew: yes
certbot_auto_renew_user: root
certbot_environment: staging
certbot_well_known_root: /srv/nginx/_well-known_root
certbot_share_key_users:
  - nginx
  - rabbitmq
certbot_post_renewal: |
    systemctl restart nginx || true
    systemcrl restart rabbitmq-server || true
certbot_domains:
 - "{{ fqdn }}"
certbot_agree_tos: --agree-tos

# NGINX
nginx_selinux_allow_local_connections: true
nginx_servers:
  - redirect-ssl
nginx_ssl_servers:
  - galaxy
nginx_enable_default_server: false
nginx_conf_http:
  client_max_body_size: 1g
nginx_ssl_role: usegalaxy_eu.certbot
nginx_conf_ssl_certificate: /etc/ssl/certs/fullchain.pem
nginx_conf_ssl_certificate_key: /etc/ssl/user/privkey-nginx.pem

# RabbitMQ
# RabbitMQ
rabbitmq_admin_password: a-different-long-password
rabbitmq_version: 3.8.9-1
rabbitmq_plugins: rabbitmq_management

rabbitmq_config:
- rabbit:
  - tcp_listeners:
    - "'127.0.0.1'": 5672
  - ssl_listeners:
    - "'0.0.0.0'": 5671
  - ssl_options:
     - cacertfile: /etc/ssl/certs/fullchain.pem
     - certfile: /etc/ssl/certs/cert.pem
     - keyfile: /etc/ssl/user/privkey-rabbitmq.pem
     - fail_if_no_peer_cert: 'false'

rabbitmq_vhosts:
  - /pulsar/galaxy_au

rabbitmq_users:
  - user: admin
    password: "{{ rabbitmq_admin_password }}"
    tags: administrator
    vhost: /
  - user: galaxy_au
    password: "{{ rabbitmq_password_galaxy_au }}"  #This password is set in group_vars/all.yml
    vhost: /pulsar/galaxy_au

# slurm
slurm_roles: ['controller', 'exec'] # Which roles should the machine play? exec are execution hosts.
slurm_nodes:
- name: localhost # Name of our host
  CPUs: 2         # Here you would need to figure out how many cores your machine has. For this training we will use 2 but in real life, look at `htop` or similar.
slurm_config:
  SlurmdParameters: config_overrides   # Ignore errors if the host actually has cores != 2
  SelectType: select/cons_res
  SelectTypeParameters: CR_CPU_Memory  # Allocate individual cores/memory instead of entire node