| Filename | Passed | Failed | Skipped | Errors | Expected |
|-----|-----|-----|-----|-----|-----|
| test_history_dataset_state.html | 0 | 2 | 0 | 0 | 0 |
| test_history_multi_view.html | 3 | 4 | 0 | 0 | 0 |
| test_navigates_galaxy.html | 1 | 0 | 0 | 0 | 0 |
| test_anon_history.html | 2 | 2 | 0 | 0 | 0 |
| test_pages.html | 1 | 0 | 0 | 0 | 0 |
| test_collection_builders.html | 2 | 4 | 0 | 0 | 0 |
| test_tool_describing_tours.html | 0 | 0 | 2 | 0 | 0 |
| test_library_contents.html | 0 | 5 | 0 | 0 | 0 |
| test_history_panel.html | 7 | 1 | 0 | 0 | 0 |
| test_library_landing.html | 0 | 4 | 0 | 0 | 0 |
| test_history_panel_collections.html | 6 | 5 | 0 | 0 | 0 |
| test_published_histories_grid.html | 5 | 1 | 0 | 0 | 0 |
| test_history_structure.html | 1 | 0 | 0 | 0 | 0 |
| test_custom_builds.html | 2 | 0 | 0 | 0 | 0 |
| test_library_to_collections.html | 0 | 0 | 1 | 0 | 0 |
| test_workflow_run.html | 1 | 10 | 0 | 0 | 0 |
| test_jupyter.html | 0 | 2 | 0 | 0 | 0 |
| test_histories_list.html | 10 | 2 | 0 | 0 | 0 |
| test_history_panel_pagination.html | 0 | 1 | 0 | 0 | 0 |
| test_stock_tours.html | 2 | 1 | 0 | 0 | 0 |
| test_sizzle_loading.html | 1 | 0 | 0 | 0 | 0 |
| test_history_export.html | 1 | 0 | 0 | 0 | 0 |
| test_history_options.html | 1 | 0 | 0 | 0 | 0 |
| test_tool_form.html | 0 | 11 | 0 | 0 | 0 |
| test_workflow_management.html | 4 | 2 | 0 | 0 | 0 |
| test_uploads.html | 6 | 9 | 0 | 0 | 0 |
| test_workflow_editor.html | 10 | 9 | 0 | 0 | 0 |

| Status | Count |
|-----|-----|
| Passed | 66 |
| Failed | 75 |
| Skipped | 3 |
| Errors | 0 |
| Expected | 0 |