---
- name: Provision a cluster
  hosts: localhost
  vars:
    # The config will typically be specified via command line parameters, ie.
    # $> ansible-playbook cluster.yml -e config=my-cluster-config
    config: cluster
  vars_files:
    - configs/{{ config }}.yml
    - vars/networks.yml
  tasks:
    - name: Create Nodes Block
      block:
      - name: Creating worker VMs
        os_server:
          state: present
          name: "{{ node_name }}-{{ item }}"
          image: "{{ images.ubuntu }}"
          flavor: "{{ flavor }}"
          key_name: "{{ keypair }}"
          security_groups: "{{ firewall }}"
          auto_ip: yes
          nics:
            - net-id: "{{ network_id }}"
          volume_size: "{{ volume_size }}"
        loop: "{{ range(1, workers|int + 1)|list }}"
        register: os_workers
      - name: Generate an inventory file for the new servers
        vars:
          keypair_file: ~/.ssh/{{ keypair }}.pem
        template:
          src: templates/{{ inventory }}.j2
          dest: outputs/inventories/{{ inventory }}
    - name: Cleanup the cluster
      tags: [never, cleanup, clean]
      block:
        - name: Delete the worker nodes
          os_server:
            name: "{{ node_name }}-{{ item }}"
            state: absent
          loop: "{{ range(1, workers|int + 1)|list }}"
