---
- hosts: localhost
  vars:
    firewall: ks-rancher-firewall
    ports: "22 80 443 2379 2380 6443 8472 9099 10250 10254"
  tasks:
  - name: Configure the firewall
    block:
    - name: Create the security group
      os_security_group:
        name: "{{ firewall }}"
        state: present
    - name: Open ports
      os_security_group_rule:
        security_group: "{{ firewall }}"
        protocol: tcp
        port_range_min: "{{ item }}"
        port_range_max: "{{ item }}"
        remote_ip_prefix: 0.0.0.0/0
      loop: "{{ ports.split(' ') | list }}"
    - name: Add the security group to itself.
      os_security_group_rule:
        security_group: "{{ firewall }}"
        remote_group: "{{ firewall }}"
        protocol: tcp
  - name: Delete the security group.
    block:
      - os_security_group:
          name: "{{ firewall }}"
          state: absent
    tags: [never, cleanup]