---
- hosts: nodes[0]
  tasks:
    - name: Get the join token for the cluster.
      shell: microk8s add-node
      become: yes
      register: rc
    - name: Save join command
      set_fact:
        join_command: "{{ rc.stdout_lines[1] }}"
- hosts: nodes[2:]
  tasks:
    - name: Have nodes join the cluster
      shell: "{{ hostvars[groups['nodes'][0]]['join_command'] }}"
      become: yes
