---
- hosts: localhost
  vars:
    keypair: ks-cluster
  tasks:
    - name: Generate and save a private/public keypair
      block:
      - name: Generate a private/public keypair
        os_keypair:
          name: "{{ keypair }}"
          state: present
        register: kp
      - name: Save the private key to ~/.ssh
        template:
          src: templates/keypair.pem.j2
          dest: ~/.ssh/{{ keypair }}.pem
          mode: 0400
    - name: Cleanup the keypair
      block:
      - name: Delete the keypair on Jetstream
        os_keypair:
          name: "{{ keypair }}"
          state: absent
      - name: Remove the local .pem file
        file:
          path: ~/.ssh/{{ keypair }}.pem
          state: absent
      tags: [never, cleanup, clean]