---
- hosts: localhost
  vars:
    config: rke-lb
  vars_files:
    - configs/{{ config }}.yml
    - vars/networks.yml
  tasks:
    - name: Create the server
      block:
        - name: Create the server for {{ base_name }}
          os_server:
            state: present
            name: "{{ base_name }}"
            image: "{{ images.ubuntu }}"
            flavor: "{{ flavor }}"
            key_name: "{{ keypair }}"
            security_groups: "{{ firewall }}"
            auto_ip: yes
            nics:
              - net-id: "{{ network_id }}"
          register: rc
        - name: Generate the inventory
          template:
            src: templates/single-node-cluster.ini.j2
            dest: outputs/inventories/{{ inventory }}
        - name: Display IP assigned to server
          debug:
            msg: "Server IP:  {{ rc.server.interface_ip }}"
    - name: Cleanup
      block:
        - name: Delete the server {{ base_name }}
          os_server:
            name: "{{ base_name }}"
            state: absent
      tags: [never, cleanup, clean]

